body {
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
}
button{
	color: #777;
	margin-top: 4rem;
	width: 22rem;
	height: 6rem;
	background-color: #fff;
	border: none;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 2rem;
}

.header {
	text-align: center;
	margin: 2rem 0 10rem 0;
	}
.header h1 {

	font-weight: 600;
}
.header  span{
 color:orange;
}

.col-md-3
{	height: 28rem;
	text-align: center;
	color: #fff;
	margin-left: 3rem;
	width: 26rem;
	margin-bottom: 6rem;
}
.blue {	

	background-color: #4eb2f7;
}
.purple{
	background-color: #c049f8;
}
.lavanda{
	background-color: #817eff;
}
.pink {
	background-color: #f74770;
}
.fa {
padding-top: 5rem;
font-size: 50px;
}
.fa-camera-retro{
	 -moz-transform: rotate(-10deg);
     -webkit-transform: rotate(-10deg);
     -o-transform: rotate(-10deg);
}
