body {
  margin: 0;
  background: url(../img/bg.jpg);
}
body h1 {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.parallax-window {
  height: 100vh;
  line-height: 100vh;
}
.parallax-window2 {
  height: 100vh;
  line-height: 100vh;
}
.parallax-window3 {
  height: 100vh;
  line-height: 100vh;
}
.parallax-window4 {
  height: 100vh;
  line-height: 100vh;
}
