body {
  margin: 0;
  font-size: 24px;
}
header {
  background: url(../img/header_bg.jpg) no-repeat center center;
  height: 60vh;
  line-height: 60vh;
}
header h1 {
  margin: 0;
  color: #fff;
  text-align: center;
}
section p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.circle1 {
  margin-top: -20rem;
  float: right;
  padding-right: 5%;
}
.circle2 {
  padding-left: 60%;
  padding-top: 30rem;
}
.rellax-square1 {
  opacity: .4;
  height: 29rem;
  padding-left: 3.4rem;
}
