body {
  color: #fff;
}
header {
  display: block;
  height: 4rem;
  padding-top: 1.5rem;
}
.header-logo {
  display: inline-block;
  float: left;
  padding-left: 4rem;
}
.header-links {
  float: right;
  display: inline-block;
  padding-right: 4rem;
}
.header-links li {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 2rem;
  color: #555;
}
#scene {
  height: 43rem;
  background-color: #65a9d8;
  overflow: hidden;
}
#scene h1 {
  width: 20rem;
  font-size: 2rem;
  text-transform: uppercase;
}
#scene span {
  background: orange;
  border-radius: 4px;
  padding: 0px 2px 0px 2px;
}
#scene input {
  border-radius: 4px;
  border: 0px;
  height: 40px;
  width: 300px;
  text-indent: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
#scene button {
  height: 42px;
  border: 0px;
  border-radius: 4px;
  margin-left: 20px;
  background-color: #77c344;
  padding: 0rem 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
#scene button:hover {
  background-color: #548831;
}
.box {
  padding: 10%;
}
.layer:nth-child(5) img {
  position: fixed;
  height: 30px;
  top: 6rem;
  right: -15rem;
}
.layer:nth-child(4) img {
  position: fixed;
  height: 25px;
  bottom: -40rem;
  right: -70rem;
}
.layer:nth-child(3) img {
  position: fixed;
  height: 10px;
  bottom: -30rem;
  right: -20rem;
}
.layer:nth-child(2) img {
  position: fixed;
  height: 30px;
  top: 14rem;
  right: -45rem;
}
.layer:nth-child(1) img {
  position: fixed;
  right: -200px;
  padding-top: 50px;
  height: 650px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
footer {
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
footer ul {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
footer li {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 2%;
  color: #555;
}
